@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: 211mm 298mm;
    margin: 0;
    padding: 0;
  }
}

@font-face {
  font-family: "Heavitas";
  src: url("./assets/fonts/heavitas/Heavitas.ttf");
}

@font-face {
  font-family: "SweetieBubbleGum";
  src: url("./assets/fonts/sweetie_bubble_gum/SweetieBubbleGum.ttf");
}

@layer base {
  html {
    @apply font-sans;
  }
  body {
    @apply m-0 box-border bg-slate-50 dark:bg-zinc-800;
  }
  #root {
    @apply min-h-[100vh];
  }
}
