@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: 211mm 298mm;
    margin: 0;
    padding: 0;
  }
}

@font-face {
  font-family: "Heavitas";
  src: url("./assets/fonts/heavitas/Heavitas.ttf");
}

@layer base {
  html {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f7fafc;
}

#root {
  display: flex;
  flex-direction: column;
  padding: 0px 400px 0px 400px;
  min-height: 100vh;
  max-height: 100vh;
}
