@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f7fafc;
}

#root {
  display: flex;
  flex-direction: column;
  padding: 30px 300px 30px 300px;
  max-height: 100vh;
}
